# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7accdb619a443f73c716755f784afa91d2f4ec61ada857fac208b5faa35090fab4f73b67b8e0250b8d62abbbeaef0dd6cca621e39394310e675441e3c1b7bfbe

test:
  secret_key_base: 9a7c906f2bcc7ee5f65e613f849456aa1e0bcbced643cd1cf60a02e8b03ee4292cc37bf4a72b4b5c4a0cc7b2a5d32c199dcc52eafde6a5113b7f739432ddc378

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
